DATABASE_URL="postgresql://postgres:postgres@localhost:5432/cs2_stats?schema=public"
APP_TIMEZONE="Europe/Moscow"
TESSERACT_BIN="tesseract"
OCR_LANG="eng+rus"
PADDLE_OCR_CPU_THREADS="4"
PADDLE_OCR_FAST_MODE="1"
PADDLE_OCR_ENABLE_ROW_FALLBACK="auto"
